.services-overview {
    padding: 100px 0;
    .section-title {
        color: $color-white;
        font-size: $h2-fz;
        line-height: $h2-lh;
        margin-bottom: 38px;
        text-align: center;
    }
    .services-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 40px;
        @media (min-width: $screen-md) {
            margin-bottom: 122px;
        }
        button {
            background: transparent;
            font-family: $ff-2;
            color: $color-white;
            font-size: $base-fz;
            line-height: $base-lh;
            padding: $space-12 28px;
            border: 1px solid #DEAB76;
            font-weight: $fw-semi;
            width: fit-content;
            border-radius: 100px;
            margin-right: 20px;
            transition: all .3s ease-in-out;
            &:last-child {
                margin-right: 0;
            }
            &.active,
            &:hover {
                background-color: #DEAB76;
                color: #0B332B;
            }
        }
    }
    .services-content__item {
        display: none;
        &.active {
            display: block;
        }
        h3 {
            font-size: $h3-fz;
            line-height: $h3-lh;
            color: $color-white;
            text-align: center;
            margin-bottom: 40px;
        }
        .service-tab-description {
            color: #FFFFFFBF;
            max-width: 680px;
            text-align: center;
            font-size: 18px;
            line-height: 1.5;
            margin: 0 auto;
        }
        .service-tab-link {
            margin: 40px auto 0;
        }
    }
    .service-grid-layout {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(4, 1fr);
        align-items: end;
        gap: 12px;
        margin-top: calc(-22% - 6px);
        &__includes {
            background: #061210;
            padding: 40px 40px 16px 40px;
            grid-row: span 3 / span 3;
            grid-row-start: 2;
            h4 {
                color: $color-white;
                font-size: $h5-fz;
                line-height: $h5-lh;
                margin-bottom: $space-24;
            }
            ul {
                padding-left: 0;
                list-style: none;
                width: fit-content;
                margin-bottom: 0;
                li {
                    background: #FFFFFF1A;
                    color: $color-white;
                    font-size: 13px;
                    line-height: 1.3;
                    border: 1px solid #FFFFFF40;
                    border-radius: 8px;
                    padding: $space-12 $space-16;
                    margin-bottom: $space-8;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
        .card-layout__small {
            height: 160px;
        }
        .card-layout__medium {
            height: 211px;
        }
        .card-layout__large {
            height: 340px;
        }

        .card-grid__0 {
            grid-column-start: 1;
            grid-row-start: 5;
        }

        .card-grid__1 {
            grid-row: span 3 / span 3;
            grid-column-start: 2;
            grid-row-start: 3;
            &:before {
                content: '';
                position: absolute;
                top: -116px;
                left: 0;
                width: 96px;
                height: 96px;
                background-image: url("data:image/svg+xml,%3Csvg width='96' height='96' viewBox='0 0 96 96' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='3' cy='93' r='3' transform='rotate(-90 3 93)' fill='%23DEAB76' fill-opacity='0.5'/%3E%3Ccircle cx='3' cy='63' r='3' transform='rotate(-90 3 63)' fill='%23DEAB76' fill-opacity='0.5'/%3E%3Ccircle cx='3' cy='33' r='3' transform='rotate(-90 3 33)' fill='%23DEAB76' fill-opacity='0.5'/%3E%3Ccircle cx='3' cy='3.00001' r='3' transform='rotate(-90 3 3.00001)' fill='%23DEAB76' fill-opacity='0.5'/%3E%3Ccircle cx='33' cy='93' r='3' transform='rotate(-90 33 93)' fill='%23DEAB76' fill-opacity='0.5'/%3E%3Ccircle cx='33' cy='63' r='3' transform='rotate(-90 33 63)' fill='%23DEAB76' fill-opacity='0.5'/%3E%3Ccircle cx='63' cy='63' r='3' transform='rotate(-90 63 63)' fill='%23DEAB76' fill-opacity='0.5'/%3E%3Ccircle cx='33' cy='33' r='3' transform='rotate(-90 33 33)' fill='%23DEAB76' fill-opacity='0.5'/%3E%3Ccircle cx='63' cy='93' r='3' transform='rotate(-90 63 93)' fill='%23DEAB76' fill-opacity='0.5'/%3E%3Ccircle cx='93' cy='93' r='3' transform='rotate(-90 93 93)' fill='%23DEAB76' fill-opacity='0.5'/%3E%3C/svg%3E%0A");
            }
        }

        .card-grid__2 {
            grid-row: span 2 / span 2;
            grid-column-start: 3;
            grid-row-start: 4;
        }

        .card-grid__3 {
            grid-row: span 3 / span 3;
            grid-column-start: 4;
            grid-row-start: 3;
            &:before {
                content: '';
                position: absolute;
                top: -86px;
                right: 0;
                width: 66px;
                height: 66px;
                background-image: url("data:image/svg+xml,%3Csvg width='66' height='66' viewBox='0 0 66 66' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='63' cy='63' r='3' transform='rotate(-180 63 63)' fill='%23DEAB76' fill-opacity='0.5'/%3E%3Ccircle cx='33' cy='63' r='3' transform='rotate(-180 33 63)' fill='%23DEAB76' fill-opacity='0.5'/%3E%3Ccircle cx='3' cy='63' r='3' transform='rotate(-180 3 63)' fill='%23DEAB76' fill-opacity='0.5'/%3E%3Ccircle cx='63' cy='33' r='3' transform='rotate(-180 63 33)' fill='%23DEAB76' fill-opacity='0.5'/%3E%3Ccircle cx='33' cy='33' r='3' transform='rotate(-180 33 33)' fill='%23DEAB76' fill-opacity='0.5'/%3E%3Ccircle cx='63' cy='3.00001' r='3' transform='rotate(-180 63 3.00001)' fill='%23DEAB76' fill-opacity='0.5'/%3E%3C/svg%3E%0A");
            }
        }

        .card-grid__4 {
            grid-row: span 3 / span 3;
            grid-column-start: 5;
            grid-row-start: 2;
            min-height: 380px;
        }

        .card-grid__5 {
            grid-column-start: 5;
            grid-row-start: 5;
        }
        .service-card {
            position: relative;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
            linear-gradient(180deg, rgba(0, 0, 0, 0) 46.76%, rgba(0, 0, 0, 0.8) 100%);
            padding: $space-32;
            &:not(:has(img)) {
                background: #061210;
            }
            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: -1;
            }
            span {
                display: block;
                font-size: $h5-fz;
                line-height: $h5-lh;
                color: $color-white;
                font-family: $ff-1;
            }
            p {
                color: $color-white;
                font-size: $footer-body-fz;
                line-height: $footer-body-lh;
                margin-bottom: 0;
                font-weight: $fw-regular;
            }
        }
    }
}