body,
html {
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    overflow-y: scroll;
    overflow-x: hidden;
    background: linear-gradient(201.55deg, #010E07 28.31%, #0B332B 41.87%, #010E07 55.63%, #0B332B 71.69%) no-repeat;
}

html * {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$screen-sm : 576px;
$screen-md : 768px;
$screen-lg : 992px;
$screen-xl : 1200px;
$screen-desktop : 1330px;

@media (min-width: $screen-desktop) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1460px;
    }
}

/*
* Spacing
*/

$space-4: 4px;
$space-8: 8px;
$space-12: 12px;
$space-16: 16px;
$space-20: 20px;
$space-24: 24px;
$space-32: 32px;
$space-36: 36px;
$space-40: 40px;
$space-44: 44px;
$space-48: 48px;
$space-64: 64px;
$space-80: 80px;
$space-100: 100px;
$space-120: 120px;
$space-150: 150px;

.btn-arrow-content {
    content: '';
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    width: 18px;
    height: 9px;
    margin-top: 1px;
    margin-left: 25px;
    transition: all 0.3s ease-in-out;
}

.btn-primary-arrow-right {
    &:after {
        @extend .btn-arrow-content;
        background-image: url("data:image/svg+xml,%3Csvg width='18' height='10' viewBox='0 0 18 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.4625 0.184874C12.4039 0.242976 12.3574 0.312101 12.3257 0.388263C12.294 0.464426 12.2776 0.546117 12.2776 0.628624C12.2776 0.711131 12.294 0.792822 12.3257 0.868984C12.3574 0.945147 12.4039 1.01427 12.4625 1.07237L15.3375 3.94737H0.625C0.45924 3.94737 0.300268 4.01322 0.183058 4.13043C0.065848 4.24764 0 4.40661 0 4.57237C0 4.73813 0.065848 4.89711 0.183058 5.01432C0.300268 5.13153 0.45924 5.19737 0.625 5.19737H15.325L12.4625 8.05362C12.3461 8.17073 12.2808 8.32913 12.2808 8.49425C12.2808 8.65936 12.3461 8.81777 12.4625 8.93487C12.5796 9.05128 12.738 9.11662 12.9031 9.11662C13.0682 9.11662 13.2266 9.05128 13.3438 8.93487L17.3188 4.95987C17.3723 4.90854 17.4148 4.84692 17.4439 4.77872C17.473 4.71052 17.488 4.63714 17.488 4.563C17.488 4.48885 17.473 4.41548 17.4439 4.34728C17.4148 4.27907 17.3723 4.21745 17.3188 4.16612L13.35 0.184874C13.2919 0.126294 13.2228 0.0797974 13.1466 0.048067C13.0704 0.0163366 12.9888 0 12.9062 0C12.8237 0 12.7421 0.0163366 12.6659 0.048067C12.5897 0.0797974 12.5206 0.126294 12.4625 0.184874Z' fill='%23DEAB76'/%3E%3C/svg%3E%0A");
    }
    &:hover {
        &:after {
            background-image: url("data:image/svg+xml,%3Csvg width='18' height='10' viewBox='0 0 18 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.4625 0.184874C12.4039 0.242976 12.3574 0.312101 12.3257 0.388263C12.294 0.464426 12.2776 0.546117 12.2776 0.628624C12.2776 0.711131 12.294 0.792822 12.3257 0.868984C12.3574 0.945147 12.4039 1.01427 12.4625 1.07237L15.3375 3.94737H0.625C0.45924 3.94737 0.300268 4.01322 0.183058 4.13043C0.065848 4.24764 0 4.40661 0 4.57237C0 4.73813 0.065848 4.89711 0.183058 5.01432C0.300268 5.13153 0.45924 5.19737 0.625 5.19737H15.325L12.4625 8.05362C12.3461 8.17073 12.2808 8.32913 12.2808 8.49425C12.2808 8.65936 12.3461 8.81777 12.4625 8.93487C12.5796 9.05128 12.738 9.11662 12.9031 9.11662C13.0682 9.11662 13.2266 9.05128 13.3438 8.93487L17.3188 4.95987C17.3723 4.90854 17.4148 4.84692 17.4439 4.77872C17.473 4.71052 17.488 4.63714 17.488 4.563C17.488 4.48885 17.473 4.41548 17.4439 4.34728C17.4148 4.27907 17.3723 4.21745 17.3188 4.16612L13.35 0.184874C13.2919 0.126294 13.2228 0.0797974 13.1466 0.048067C13.0704 0.0163366 12.9888 0 12.9062 0C12.8237 0 12.7421 0.0163366 12.6659 0.048067C12.5897 0.0797974 12.5206 0.126294 12.4625 0.184874Z' fill='%230B332B'/%3E%3C/svg%3E%0A");
        }
    }
}

.btn-secondary-arrow-right {
    &:after {
        @extend .btn-arrow-content;
        background-image: url("data:image/svg+xml,%3Csvg width='18' height='10' viewBox='0 0 18 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.4625 0.184874C12.4039 0.242976 12.3574 0.312101 12.3257 0.388263C12.294 0.464426 12.2776 0.546117 12.2776 0.628624C12.2776 0.711131 12.294 0.792822 12.3257 0.868984C12.3574 0.945147 12.4039 1.01427 12.4625 1.07237L15.3375 3.94737H0.625C0.45924 3.94737 0.300268 4.01322 0.183058 4.13043C0.065848 4.24764 0 4.40661 0 4.57237C0 4.73813 0.065848 4.89711 0.183058 5.01432C0.300268 5.13153 0.45924 5.19737 0.625 5.19737H15.325L12.4625 8.05362C12.3461 8.17073 12.2808 8.32913 12.2808 8.49425C12.2808 8.65936 12.3461 8.81777 12.4625 8.93487C12.5796 9.05128 12.738 9.11662 12.9031 9.11662C13.0682 9.11662 13.2266 9.05128 13.3438 8.93487L17.3188 4.95987C17.3723 4.90854 17.4148 4.84692 17.4439 4.77872C17.473 4.71052 17.488 4.63714 17.488 4.563C17.488 4.48885 17.473 4.41548 17.4439 4.34728C17.4148 4.27907 17.3723 4.21745 17.3188 4.16612L13.35 0.184874C13.2919 0.126294 13.2228 0.0797974 13.1466 0.048067C13.0704 0.0163366 12.9888 0 12.9062 0C12.8237 0 12.7421 0.0163366 12.6659 0.048067C12.5897 0.0797974 12.5206 0.126294 12.4625 0.184874Z' fill='%23FFFFFF'/%3E%3C/svg%3E%0A");
    }
    &:hover {
        &:after {
            background-image: url("data:image/svg+xml,%3Csvg width='18' height='10' viewBox='0 0 18 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.4625 0.184874C12.4039 0.242976 12.3574 0.312101 12.3257 0.388263C12.294 0.464426 12.2776 0.546117 12.2776 0.628624C12.2776 0.711131 12.294 0.792822 12.3257 0.868984C12.3574 0.945147 12.4039 1.01427 12.4625 1.07237L15.3375 3.94737H0.625C0.45924 3.94737 0.300268 4.01322 0.183058 4.13043C0.065848 4.24764 0 4.40661 0 4.57237C0 4.73813 0.065848 4.89711 0.183058 5.01432C0.300268 5.13153 0.45924 5.19737 0.625 5.19737H15.325L12.4625 8.05362C12.3461 8.17073 12.2808 8.32913 12.2808 8.49425C12.2808 8.65936 12.3461 8.81777 12.4625 8.93487C12.5796 9.05128 12.738 9.11662 12.9031 9.11662C13.0682 9.11662 13.2266 9.05128 13.3438 8.93487L17.3188 4.95987C17.3723 4.90854 17.4148 4.84692 17.4439 4.77872C17.473 4.71052 17.488 4.63714 17.488 4.563C17.488 4.48885 17.473 4.41548 17.4439 4.34728C17.4148 4.27907 17.3723 4.21745 17.3188 4.16612L13.35 0.184874C13.2919 0.126294 13.2228 0.0797974 13.1466 0.048067C13.0704 0.0163366 12.9888 0 12.9062 0C12.8237 0 12.7421 0.0163366 12.6659 0.048067C12.5897 0.0797974 12.5206 0.126294 12.4625 0.184874Z' fill='%230B332B'/%3E%3C/svg%3E%0A");
        }
    }
}

.btn-tertiary-arrow-right {
    &:after {
        @extend .btn-arrow-content;
        background-image: url("data:image/svg+xml,%3Csvg width='18' height='10' viewBox='0 0 18 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.4625 0.184874C12.4039 0.242976 12.3574 0.312101 12.3257 0.388263C12.294 0.464426 12.2776 0.546117 12.2776 0.628624C12.2776 0.711131 12.294 0.792822 12.3257 0.868984C12.3574 0.945147 12.4039 1.01427 12.4625 1.07237L15.3375 3.94737H0.625C0.45924 3.94737 0.300268 4.01322 0.183058 4.13043C0.065848 4.24764 0 4.40661 0 4.57237C0 4.73813 0.065848 4.89711 0.183058 5.01432C0.300268 5.13153 0.45924 5.19737 0.625 5.19737H15.325L12.4625 8.05362C12.3461 8.17073 12.2808 8.32913 12.2808 8.49425C12.2808 8.65936 12.3461 8.81777 12.4625 8.93487C12.5796 9.05128 12.738 9.11662 12.9031 9.11662C13.0682 9.11662 13.2266 9.05128 13.3438 8.93487L17.3188 4.95987C17.3723 4.90854 17.4148 4.84692 17.4439 4.77872C17.473 4.71052 17.488 4.63714 17.488 4.563C17.488 4.48885 17.473 4.41548 17.4439 4.34728C17.4148 4.27907 17.3723 4.21745 17.3188 4.16612L13.35 0.184874C13.2919 0.126294 13.2228 0.0797974 13.1466 0.048067C13.0704 0.0163366 12.9888 0 12.9062 0C12.8237 0 12.7421 0.0163366 12.6659 0.048067C12.5897 0.0797974 12.5206 0.126294 12.4625 0.184874Z' fill='%23FFFFFF'/%3E%3C/svg%3E%0A");
    }
}

.c-btn {
    font-family: "Outfit", sans-serif;
    font-size: 16px;
    line-height: 1.2;
    padding: 14px 24px;
    font-weight: 500;
    width: fit-content;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 90px;
    transition: all .3s ease-in-out;
    @media (min-width: $screen-md) {
        padding: 24px 40px;
    }
}

.btn-primary {
    @extend .c-btn;
    color: #ffffff;
    border: 1px solid #DEAB76;
    &:hover {
        background-color: #DEAB76;
        color: #0B332B;
    }
}

.btn-secondary {
    @extend .c-btn;
    background-color: #0B332B;
    color: #ffffff;
    border: 1px solid #0B332B;
    &:hover {
        background-color: transparent;
        color: #0B332B;
    }
}

.btn-tertiary {
    @extend .c-btn;
    backdrop-filter: blur(20px);
    color: #ffffff;
    border: 1px solid #FFFFFF;
    &:hover {
        background-color: #0B332B;
        border: 1px solid #0B332B;
        color: #ffffff;
        backdrop-filter: unset;
    }
}