body,
html {
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    overflow-y: scroll;
    overflow-x: hidden;
}

html * {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$screen-sm : 576px;
$screen-md : 768px;
$screen-lg : 992px;
$screen-xl : 1200px;
$screen-desktop : 1330px;

@media (min-width: $screen-desktop) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1330px;
    }
}

/*
* Spacing
*/

$space-4: 4px;
$space-8: 8px;
$space-12: 12px;
$space-16: 16px;
$space-20: 20px;
$space-24: 24px;
$space-32: 32px;
$space-36: 36px;
$space-40: 40px;
$space-44: 44px;
$space-48: 48px;
$space-64: 64px;
$space-80: 80px;
$space-100: 100px;
$space-120: 120px;
$space-150: 150px;

