//
//  Colors
//  --------------------------------------

/*
* Primary
*/
$color-primary-100  :    #103f8e;
$color-primary-80   :    '';
$color-primary-60   :    '';
$color-primary-40   :    #d3dfeb;
$color-primary-20   :    '';

/*
* Dark brown
*/
$color-secondary-100:   #fdbb00;
$color-secondary-80 :   '';
$color-secondary-60 :   '';
$color-secondary-40 :   '';
$color-secondary-20 :   '';

/*
* Gray
*/
$color-tertiary-100 :   #6e7d91;
$color-tertiary-80  :   '';
$color-tertiary-60  :   '';

/*
* Basic
*/
$color-white        :    #ffffff;
$color-dark         :    #000000;