//
//  TYPOGRAPHY
//  --------------------------------------


:root {
    --h1-fz                    : 64px;
    --h1-lh                    : 1.2;
    --h2-fz                    : 42px;
    --h2-lh                    : 1.2;
    --h3-fz                    : 26px;
    --h3-lh                    : 1.2;
    --h4-fz                    : 42px;
    --h4-lh                    : 1.2;
    --h5-fz                    : 40px;
    --h5-lh                    : 1.2;
    --base-fz                  : 14px;
    --base-lh                  : 1.5;
    --buttom-menu-fz           : 16px;
    --buttom-menu-lh           : 1.2;
    --h-footer-fz              : 18px;
    --h-footer-lh              : 1;
    --menu-footer-fz           : 15px;
    --menu-footer-lh           : 1;
    --body-footer-fz           : 16px;
    --body-footer-lh           : 1;
}

@media (min-width: 768px) {
    :root {
        --h1-fz                    : 90px;
        --h1-lh                    : 1.2;
        --h2-fz                    : 84px;
        --h2-lh                    : 1.2;
        --h3-fz                    : 48px;
        --h3-lh                    : 1.2;
        --base-fz                  : 18px;
        --base-lh                  : 1.5;
    }
}




// Variables

*{
    font-optical-sizing: auto;
}

@font-face {
    font-family: 'Prata';
    src: url('assets/fonts/Prata-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

$ff-1   : "Prata", serif;
$ff-2   : "Outfit", sans-serif;

$fw-bold       : 700;
$fw-semi       : 600;
$fw-regular    : 400;
$fw-normal     : 300;

$h1-fz            : var(--h1-fz);
$h1-lh            : var(--h1-lh);
$h2-fz            : var(--h2-fz);
$h2-lh            : var(--h2-lh);
$h3-fz            : var(--h3-fz);
$h3-lh            : var(--h3-lh);
$h4-fz            : var(--h4-fz);
$h4-lh            : var(--h4-lh);
$h5-fz            : var(--h5-fz);
$h5-lh            : var(--h5-lh);
$base-fz          : var(--base-fz);
$base-lh          : var(--base-lh);
$button-menu-fz   : var(--buttom-menu-fz);
$button-menu-lh   : var(--buttom-menu-lh);
$footer-h-fz      : var(--h-footer-fz);
$footer-h-lh      : var(--h-footer-lh);
$footer-menu-fz   : var(--menu-footer-fz);
$footer-menu-lh   : var(--menu-footer-lh);
$footer-body-fz   : var(--body-footer-fz);
$footer-body-lh   : var(--body-footer-lh);

b, strong{font-weight: $fw-bold;}
em, i{font-style: italic;}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: $ff-1;
    font-weight: $fw-regular
}


p,
a,
li{
    font-family: $ff-2;
    font-weight: $fw-normal
}



